.content-wrapper aside {
    width: 45%;
    height: 100vh;
    background-color: black;
    
}

.content-wrapper main {
    width: 55%;
    height: 100vh;
    background-color: var(--color-grey-1);
    
}

.slogan {
    position: relative;
    bottom: 80px;
}

main .login-wrapper{
    padding: 50px;
    border-radius: 10px;
    height: 500px;
    background-color: black;
    font-size: 18px;
    gap: 20px;
}

.login-form {
    font-size: 20px;
    gap: 10px;
}