.content-wrapper aside {
    width: 45%;    
    background-color: var(--color-dark-1);    
}

.content-wrapper main {
    width: 55%;    
    background-color: var(--color-grey-1);    
}

.slogan {
    position: relative;
    bottom: 250px;
}

main .login-wrapper{
    width: 500px;
    padding: var(--gap-3);
    border-radius: var(--radius-1);
    background-color: var(--color-dark-1);    
    gap: var(--gap-2);
}

.login-form {   
    gap: var(--gap-1);
}