button {
    height: var(--input-button-defaut-height);
    padding: var(--gap-1);
    border: var(--border-defaut-button-input);
    background-color: transparent;    
    border-radius: var(--radius-1);
    cursor: pointer;    
    resize: none;
    outline: none;
}

button:hover {
    border-color: var(--color-primary);
    color: var(--color-primary);
}

button:focus {
    border-color: var(--color-primary);
    color: var(--color-primary);
}

.btn-minor {
    border: none;             
    text-decoration: underline;
}

.btn-minor:focus {
    color: var(--color-primary);
}

.btn-minor:hover {
    color: var(--color-primary);
}

.btn-modal {
    border: none;
}