.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-justify-between {
    justify-content: space-between;
}

.flex-align-center {
    align-items: center;
}

.align-self-end {
    align-self: flex-end;
}