input {
    padding: var(--gap-1);
    height: var(--input-button-defaut-height);    
    border: var(--border-defaut-button-input);      
    border-radius: var(--radius-1);  
    
    background-color: transparent;  
    resize: none;
    outline: none;
}

input::placeholder {
    color: var(--color-grey-4);
}


input:focus {
    border-color: var(--color-primary);
}